<button 
    style="
margin-bottom: 10px;
margin-top: 10px;
accent-color
">
    <a asp-action="Add">
        Add Product
        </a></button>
<h2>Product List</h2>
<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Unit Price</th>
            <th>Quantity In Stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td width="20%">@product.Name</td>
                <td width="25%">@product.Description</td>
                <td width="15%">@product.CategoryId</td>
				<td width="15%">@product.SupplierId</td>
                <td width="10%">@product.UnitPrice</td>
                <td width="15%">@product.QuantityInStock</td>
                <td width="15%">
                    <a asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>   
            </tr>
        }
    </tbody>
</table>